{% extends "layout.html" %}

{% block title %}
    Planner
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th class="calendar-header-days">Sunday</th>
                <th class="calendar-header-days">Monday</th>
                <th class="calendar-header-days">Tuesday</th>
                <th class="calendar-header-days">Wednesday</th>
                <th class="calendar-header-days">Thursday</th>
                <th class="calendar-header-days">Friday</th>
                <th class="calendar-header-days">Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-week-row"></tr>
            <tr class="table-week-row"></tr>
            <tr class="table-week-row"></tr>
            <tr class="table-week-row"></tr>
            <tr class="table-week-row"></tr>
            <tr class="table-week-row"></tr>
        </tbody>
    </table>
{% endblock %}