{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block head %} 
    <link href="/static/styles/login.css" rel="stylesheet"></link>
{% endblock %}

{% block main %}
<div class="main-inner-con">
    <h1 class="login-text">Log In</h1>
    <form class="login-form f-col" action="/login" method="post">
        <input class="login-input" type="text" name="username" placeholder="Username" autocomplete="off" autofocus>
        <input class="login-input" type="password" name="password" placeholder="Password" autocomplete="off" autofocus>
        <button class="login-submit" type="submit">Submit</button>
    </form>
</div>
{% endblock %}