.calendar-table-con {
    max-width: max-content;
}

.calendar-table-header {
    display: flex;
    justify-content: space-between;
}

.table-title {
    display: inline-block;
}

.calendar-button {
    padding: 5px 50px;
    border-radius: 10px;
}

.unactive-date {
    color: rgb(194, 194, 194);
}

.day-con {
    width: 100px;
    height: 100px;
    outline: rgba(0, 0, 0, 0.05) solid 1px;
    vertical-align: top;
    cursor: pointer;
}

.day-date {
    -webkit-user-select: none;
    user-select: none;
}

.current-day {
    background-color: rgb(216, 247, 255);
}

.active-day {
    background-color: rgb(255, 150, 150);
}

.active-day span {
    color: white;
}

.modal-con {
    position: absolute;
    background-color: white;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px 10px;

}

.modal-header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 25px;
    cursor: pointer;
    background-color: rgb(4, 0, 252);
    border-radius: 5px 5px 0 0;
}

.modal-header-close-button {
    margin-right: 5px;
    border-radius: 25px;

}

.close-svg {
    display: block;
    width: 15px;
    height: 15px;
}

.modal-form {
    padding: 25px;
}

.modal-title {
    font-size: 1.8rem;
    width: 100%;
}

.modal-time-con {
    display: flex;
    gap: 15px;
}

.modal-label {
    margin-right: auto;
}

.modal-date {

}

.modal-time {

}

.modal-date, .modal-time {
    width: 35%;
}

