.calendar-table-con {
    max-width: max-content;
}

.calendar-table-header {
    display: flex;
    justify-content: space-between;
}

.table-title {
    display: inline-block;
}

.calendar-button {
    padding: 5px 50px;
    border-radius: 10px;
}



.day-con {
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px;
    vertical-align: top;
    cursor: pointer;
}

.day-date {
    -webkit-user-select: none;
    user-select: none;
}

.current-day {
    background-color: rgb(216, 247, 255);
}

.active-day {
    background-color: rgb(255, 150, 150);
}

.modal-con {
    position: absolute;
    background-color: black;
    height: 200px;
    width: 200px;
    z-index: 100;
    top: 200px;
    left: 400px;
}

.modal-form {
    background-color: black;
    height: 100px;
    width: 100px;
}