.progress-table, .daily-rows {
    border-collapse: separate;
    border-spacing: 3px;
}

.progress-tile {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);

}

.progress-tile-1 {
    background-color: rgba(41, 41, 255, 0.2);
}

.progress-tile-2 {
    background-color: rgba(41, 41, 255, 0.2);
}

.progress-tile-3 {
    background-color: rgba(41, 41, 255, 0.2);
}

.progress-tile-4 {
    background-color: rgba(75, 75, 150, 0.2);
}


.table-header-month {
    text-align: left;
}

.tool-tip {
    position: absolute;
    text-align: center;
    background-color: var(--tool-tip-color);
    padding: 5px 10px;
    width: max-content;
    bottom: 75%;
    left: 50%;
    border: 1px solid black;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.tool-tip::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border-color: black transparent transparent transparent;
    border-width: 6px;
    border-style: solid;

  }

.tool-tip::after {
    content: " ";
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%);
    border-color: var(--tool-tip-color) transparent transparent transparent;
    border-width: 5px;
    border-style: solid;

  }

