* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

:root {
    --tool-tip-color: rgb(200, 200, 200);
    font-size: 1rem;
}

body {
    font-family: Roboto;
}

body, html, head {
    height: 100vh;
}

a {
    text-decoration: none; 
}

li {
    list-style: none;
}

.header-con {
    position: static;
    background-color: aliceblue;
    box-shadow: 0 0 10px 0 black;
}

.container {

}

.f-col {
    display: flex;
    flex-direction: column;
}

.f {
    display: flex;
    flex-direction: row;
}

.f-centre {
    justify-content: center;
    align-items: center;
}

.header-brand {
    
}

.lower-nav {
    /* background-color: rgb(1, 255, 242); */
}

.nav-item, .lower-nav-item {
    display: inline-block;
    margin-right: 1.3rem;
    padding: 1.2rem 1.8rem;
    color: black;
}

.nav-item:hover, .lower-nav-item:hover {
    background-color: antiquewhite;
}

/* .lower-nav-item {
    display: inline-block;
    padding: 1rem 1.3rem;
} */

main {
    height: 100%;
    text-align: center;

}

svg {
    width: 30px;
}

.footer-con {
    height: 100px;
}

.footer-icon-con {
    gap: 25px;
}

button {
    cursor: pointer;
}