* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tool-tip-color: rgb(200, 200, 200);
}

body {
    font-family: Roboto;
}

body, html, head {
    height: 100vh;
}

a {
    text-decoration: none; 
}

li {
    list-style: none;
}

.header {
    background-color: aliceblue;
    min-height: max-content;
}

.container {

}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.header-brand {
    
}

.nav-item {
    padding: 1.2rem 1.8rem;
}