.timer-con {
    width: max-content;
}

.timer-digit, .timer-colon {
    font-size: 10rem;
    text-align: center;
    user-select: none;
    color: rgba(0, 0, 0);
}

.timer-digit-select {
    border-right: 5px solid blue;
}

.timer-digit-temp {
    color: rgba(0, 0, 0, 0.5);
}

.timer-text:hover {
    cursor: pointer;
}

.timer-text-focus {
    color: green;
}

.timer-text-focus:hover {
    cursor: text;
}