.timer-con {
    width: max-content;
}

.pomdoro-header {
    font-size: 3rem;
}

.timer-text-con {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.timer-digit, .timer-colon {
    font-size: 15rem;
    text-align: center;
    color: rgba(0, 0, 0);
    border-right: 1px solid transparent;
    height: min-content;
    
}

.timer-digit-select {
    position: relative;
}

.timer-digit-select::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    width: 2px;
    animation: pulse 1s linear(1 100%, 1 0%) infinite;
}

@keyframes pulse {
    50% {
        background-color: black;
    }
}
.timer-digit-temp {
    color: rgba(0, 0, 0, 0.5);
}

.timer-text:hover {
    cursor: pointer;
}

.timer-text-focus {
    color: green;
}

.timer-text-focus:hover {
    cursor: text;
}

.timer-button {
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
    border-radius: 250px;
}

.timer-button svg {
    width: 75px;
    display: block;
}