{% extends "layout.html" %}

{% block title %}
    Progress
{% endblock %}

{% block head %} 
    <link href="/static/styles/progress.css" rel="stylesheet"></link>
    <script src="/static/scripts/progress.js" defer></script>
{% endblock %}

{% block main %}
    <div>
        <table id="progress-table" class="progress-table">
            <thead>
                <tr>
                    <th class="table-header-month" colspan="4">Jan</th>
                    <th class="table-header-month" colspan="4">Feb</th>
                    <th class="table-header-month" colspan="4">Mar</th>
                    <th class="table-header-month" colspan="4">Apr</th>
                    <th class="table-header-month" colspan="4">May</th>
                    <th class="table-header-month" colspan="4">Jun</th>
                    <th class="table-header-month" colspan="4">Jul</th>
                    <th class="table-header-month" colspan="4">Aug</th>
                    <th class="table-header-month" colspan="4">Sep</th>
                    <th class="table-header-month" colspan="4">Oct</th>
                    <th class="table-header-month" colspan="4">Nov</th>
                    <th class="table-header-month" colspan="4">Dec</th>
                </tr>
            </thead>
            <tbody>
                <tr id="row-sunday" class="daily-rows">

                </tr>
                <tr id="row-monday" class="daily-rows">

                </tr>
                <tr id="row-tuesday" class="daily-rows">

                </tr>
                <tr id="row-wednesday" class="daily-rows">

                </tr>
                <tr id="row-thursday" class="daily-rows">

                </tr>
                <tr id="row-friday" class="daily-rows">

                </tr>
                <tr id="row-saturday" class="daily-rows">

                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}