{% extends "layout.html" %}

{% block title %}
    Progress
{% endblock %}

{% block head %} 
    <link href="/static/styles/progress.css" rel="stylesheet"></link>
    <script src="/static/scripts/progress.js" defer></script>
{% endblock %}

{% block main %}
    <div>
        <table id="progress-table" class="progress-table">
            <thead>
                <tr>
                    <th></th>
                    <th id="header-jan" class="table-header-month" colspan="4">Jan</th>
                    <th id="header-feb" class="table-header-month" colspan="4">Feb</th>
                    <th id="header-mar" class="table-header-month" colspan="4">Mar</th>
                    <th id="header-apr" class="table-header-month" colspan="4">Apr</th>
                    <th id="header-may" class="table-header-month" colspan="4">May</th>
                    <th id="header-jun" class="table-header-month" colspan="4">Jun</th>
                    <th id="header-jul" class="table-header-month" colspan="4">Jul</th>
                    <th id="header-aug" class="table-header-month" colspan="4">Aug</th>
                    <th id="header-sep" class="table-header-month" colspan="4">Sep</th>
                    <th id="header-oct" class="table-header-month" colspan="4">Oct</th>
                    <th id="header-nov" class="table-header-month" colspan="4">Nov</th>
                    <th id="header-dec" class="table-header-month" colspan="4">Dec</th>
                </tr>
            </thead>
            <tbody>
                <tr id="row-sunday" class="daily-rows">
                    <th></th>
                </tr>
                <tr id="row-monday" class="daily-rows">
                    <th>Mon</th>
                </tr>
                <tr id="row-tuesday" class="daily-rows">
                    <th></th>
                </tr>
                <tr id="row-wednesday" class="daily-rows">
                    <th>Wed</th>
                </tr>
                <tr id="row-thursday" class="daily-rows">
                    <th></th>
                </tr>
                <tr id="row-friday" class="daily-rows">
                    <th>Fri</th>
                </tr>
                <tr id="row-saturday" class="daily-rows">
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}