{% extends "layout.html" %}

{% block title %}
    Pomodoro Timer
{% endblock %}

{% block head %} 
    <link href="/static/styles/timer.css" rel="stylesheet"></link>
    <script src="/static/scripts/timer.js" defer></script>
{% endblock %}

{% block main %}
    <div class="timer-con">
        <p id="timer-string" class="timer-text"></p>
        <div id="timer-text-con" class="timer-text-con">
            <span class="timer-digit"></span>
            <span class="timer-digit"></span>
            <span class="timer-colon">:</span>
            <span class="timer-digit"></span>
            <span class="timer-digit"></span>
        </div>
        <button id="timer-button" class="timer-button" type="button">Start</button>
    </div>
{% endblock %}